<div class="footer-container">
    <div class="data">
        <div class="custom-service">
            <h6>ATENDIMENTO AO CLIENTE</h6>

            <ul class="services">
                <li><a href="#">Central de Atendimento</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Método de Pagamento</a></li>
                <li><a href="#">Garantia</a></li>
                <li><a href="#">Devolução e Reembolso</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>
        </div>

        <div class="about">
            <h6>SOBRE A ORGULHE-SE</h6>

            <ul class="about-list">
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Politicas de Privacidade</a></li>
                <li><a href="#">Programa de Afiliado</a></li>
                <li><a href="#">Ofertas Relâmpago</a></li>
            </ul>
        </div>

        <div class="payment">
            <h6>PAGAMENTO</h6>

            <ul class="cards">
                <li><a href="#"><img src="assets/logos/logo-visa.png" alt="Logo do cartão Visa"></a></li>
                <li><a href="#"><img src="assets/logos/logo-mastercard.png" alt="Logo do cartão Mastercard"></a></li>
                <li><a href="#"><img src="assets/logos/logo-hipercard.png" alt="Logo do cartão Hipercard"></a></li>
                <li><a href="#"><img src="assets/logos/logo-elo.png" alt="Logo do cartão Elo"></a></li>
                <li><a href="#"><img src="assets/logos/logo-american.png" alt="Logo do cartão American"></a></li>
                <li><a href="#"><img src="assets/logos/logo-boleto.png" alt="Logo de Boleto"></a></li>
                <li><a href="#"><img src="assets/logos/logo-pix.png" alt="Logo do Pix"></a></li>
            </ul>
        </div>

        <div class="follow">
            <div>
                <h6>SIGA-NOS</h6>

                <ul class="social-media">
                    <li><a href="https://www.instagram.com/amado.uj/"><img src="assets/logos/logo-insta.png" alt="Logo Instagram">Instagram</a></li>
                    <li><a href="https://linktr.ee/consultoresuj"><img src="assets/logos/logo-whats.png" alt="Logo Whatsapp">Whatsapp</a></li>
                    <li><a href="https://www.linkedin.com/school/unijorge/posts/?feedView=all"><img src="assets/logos/logo-linked.png" alt="Logo LinkedIn">LinkedIn</a></li>
                </ul>
            </div>
            
                <img class="image-footer" src="assets/img-footer.png" alt="Pessoas com objetos LGBTQIAP+">
            
        </div>  
            
    </div>

    <div class="divider"></div>

    <div class="logos">
        <div class="img-logo">
            <img class="logo-uva" src="assets/logos/logo-uva.png" alt="Logo da UVA">
            <img class="logo-uj" src="assets/logos/logo-uj.png" alt="Logo da Unijorge">
            <img class="logo-amado" src="assets/logos/logo-amado.png" alt="Logo do Núcleo AMADO">
        </div>

        <div class="language">
            <span>País e região:</span>
            <img src="assets/band-br.png" alt="Bandeira do Brasil">
            <img src="assets/band-eua.png" alt="Bandeira dos Estados Unidos">
            
        </div>
    </div>
</div>
