<div class="container">
    <div class="login-section" id="overlay">
        <h2 class="title">Redefinir a Senha</h2>

        <form (ngSubmit)="onRecSenha()">
            <input type="email" placeholder="E-mail" name="email" required>
            <button type="submit" class="login-btn">Enviar</button>
        </form>

        <div class="cancel-section">
            <a href="#" class="account">Cancelar</a>
        </div>

        <div class="logos">
            <img src="assets/logos/logo-uj.png" alt="Logo Unijorge">
            <img src="assets/logos/logo-amado.png" alt="Logo Núcleo AMADO">
        </div>
    </div>

    <div class="image-section">
        <img src="assets/img-login.png" alt="Casal de duas mulheres comm bandeira LGBTQIAP+">
    </div>
</div>
