<div class="header">
    <a href="#" class="logo-principal"><img src="assets/logos/logo-amado-header.png" alt="Logo do Núcleo AMADO"></a>

    <div class="search-container">
        <input type="text" placeholder="Pesquisar..." class="search-bar">
        <button class="search-btn">
            <img src="assets/logos/logo-search.png" alt="Ícone de Pesquisa" class="search">
        </button>
    </div>

    <div class="navigation">
        <a href="#"><img src="assets/logos/logo-user.png" alt="Ícone de usuário" class="logo"></a>
        <div class="divider"></div>
        <a href="#"><img src="assets/logos/logo-bag.png" alt="Ícone de carrinho" class="logo"></a>
    </div>
</div>
